[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sapp = "==0.1"
python-decouple = "*"
pika = "*"
ipython = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
